*~
.DS_Store
*~
*#
.#*
*jar
/classes/
/.lein-deps-sum
/.lein-failures
/.lein-env
/checkouts
/.env
/target
/buildoutput
pom.xml
pom.xml.asc
/lib/
/classes/
/checkouts/
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
profiles.clj